<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">

    <div class="container">

       <a class="navbar-brand fw-bold text-white" href="/">

            <i class="bi bi-mortarboard-fill me-2"></i>
            Student Analytics Hub
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto">
                {% if session.get("role") == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_student">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_grade">Add Grade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_students">Students</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/change_password">
                        Change Password
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                    href="/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
